.contacts {
  width: 100%;
  min-height: 120px;
  padding: var(--padding-y) var(--padding-x);
}

.contacts__title {
  font-size: var(--h2-size);
  font-family: var(--font-head);
  margin-bottom: var(--gap-md);
}
