.header {
  /* grid-area: header; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: var(--padding-y) var(--padding-x);
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-head);
}

.nav {
  margin-left: auto;
}

.nav__list {
  gap: var(--gap-max);
  font-size: var(--h3-size);
  font-weight: 600;
}

.nav__burger {
  display: none;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  color: inherit;
  font-size: var(--h1-size);
  background: transparent;
}

@media (max-width: 768px) {

  /* increase specificity to override the generic .flex helper */
  .nav .nav__list {
    display: none;
    position: absolute;
    left: 50%;
    top: var(--header-height, 60px);
    z-index: 4;
    flex-direction: column;
    gap: var(--gap-max);
    width: 50%;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    background: var(--color-black);
    border-radius: var(--btn-border-radius);
  }

  .nav .nav__list.is-open {
    display: flex;
  }

  .nav__burger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out;
  }

  .nav__burger:hover,
  .nav__burger:focus {
    color: var(--focus-ring-color);
  }
}