.hero {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-max);
  width: 100%;
  min-height: 320px;
  padding: var(--padding-y) var(--padding-x);
}

.hero__title,
.hero__description,
.hero__btn {
  line-height: var(--line-height-base);
  text-align: center;
}

.hero__title {
  font-family: var(--font-head);
  font-size: var(--h1-size);
  font-weight: 700;
}

.hero__description,
.hero__btn {
  font-family: var(--font-sans);
  font-size: var(--text-size);
}

.hero__btn {
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-border-radius);
  background-color: var(--color-black);
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--focus-ring-color);
}